---
---

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

#home {
  padding: 20px;
}

img {
  margin-bottom: 40px;
}

.img-home {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 769px) {
    flex-direction: row;
  }

  &--flex-column {
    flex-direction: column;
  }

  .col {
    display: inline-block;
    width: 100%;
  }

  .col--6 {
    flex: 1;

    &:not(:first-child) {
      margin: 20px 0 0 0;
    }

    @media (min-width: 769px) {
      margin: 20px;
      width: 100%;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.content p {
  font-size: 130%;
  color: #333;

  &.credit {
    font-size: 80%;
    color: #ccc;

    a {
      color: #ccc;

      &:hover {
        color: #999;
        text-decoration: none;
      }
    }
  }
}

h1, h2 {
  color: #FF6556;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
  font-size: 250%;
}

h2 {
  font-size: 200%;
  margin-bottom: 40px;

  a {
    color: #6556ff;

    &:hover {
      color: #463cb2;
      text-decoration: none;
    }
  }

}

a {
  color: #FF6556;

  &:hover {
    color: #cc5044;
    text-decoration: none;
  }
}

.ctnr-copy {
  margin: 40px 0;
}

.slick-slide {
  @media (min-width: 480px) {
    padding: 0 20px;
  }
}

.embed-container {
  padding-bottom: 56.25%;
  height: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
