---
---

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

#home {
  padding: 10px;

  @media (min-width: 769px) {
    padding: 20px;
  }
}

.img-home {
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

h1,
.copy {
  color: #FF6556;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
}
