---
---

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

#home {
  padding: 20px;
}

img {
  margin-bottom: 40px;
}

.img-home {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 20px auto;
}

.content p {
  font-size: 130%;
  color: #333;

  &.credit {
    font-size: 80%;
    color: #ccc;

    a {
      color: #ccc;

      &:hover {
        color: #999;
        text-decoration: none;
      }
    }
  }
}

h1, h2 {
  color: #FF6556;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
  font-size: 250%;
}

h2 {
  font-size: 200%;
  margin-bottom: 40px;

  a {
    color: #6556ff;

    &:hover {
      color: #463cb2;
      text-decoration: none;
    }
  }

}

a {
  color: #FF6556;

  &:hover {
    color: #cc5044;
    text-decoration: none;
  }
}
